SJ/Sync Service/SyncService/App_WebReferences/LocalRef/SyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInSyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckOutSyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckInSyncSoapIn">
    <wsdl:part name="parameters" element="tns:CheckInSync" />
  </wsdl:message>
  <wsdl:message name="CheckInSyncSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInSyncResponse" />
  </wsdl:message>
  <wsdl:message name="CheckOutSyncSoapIn">
    <wsdl:part name="parameters" element="tns:CheckOutSync" />
  </wsdl:message>
  <wsdl:message name="CheckOutSyncSoapOut">
    <wsdl:part name="parameters" element="tns:CheckOutSyncResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckInSyncHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckInSyncHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckOutSyncHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckOutSyncHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckInSyncHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckInSyncHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckOutSyncHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckOutSyncHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SyncServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <wsdl:input message="tns:CheckInSyncSoapIn" />
      <wsdl:output message="tns:CheckInSyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <wsdl:input message="tns:CheckOutSyncSoapIn" />
      <wsdl:output message="tns:CheckOutSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SyncServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <wsdl:input message="tns:CheckInSyncHttpGetIn" />
      <wsdl:output message="tns:CheckInSyncHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <wsdl:input message="tns:CheckOutSyncHttpGetIn" />
      <wsdl:output message="tns:CheckOutSyncHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SyncServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <wsdl:input message="tns:CheckInSyncHttpPostIn" />
      <wsdl:output message="tns:CheckInSyncHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <wsdl:input message="tns:CheckOutSyncHttpPostIn" />
      <wsdl:output message="tns:CheckOutSyncHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncServiceSoap" type="tns:SyncServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <soap:operation soapAction="http://tempuri.org/CheckInSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <soap:operation soapAction="http://tempuri.org/CheckOutSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncServiceSoap12" type="tns:SyncServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <soap12:operation soapAction="http://tempuri.org/CheckInSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <soap12:operation soapAction="http://tempuri.org/CheckOutSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncServiceHttpGet" type="tns:SyncServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <http:operation location="/CheckInSync" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <http:operation location="/CheckOutSync" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncServiceHttpPost" type="tns:SyncServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInSync">
      <http:operation location="/CheckInSync" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutSync">
      <http:operation location="/CheckOutSync" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="SyncServiceSoap" binding="tns:SyncServiceSoap">
      <soap:address location="http://localhost:16213/SyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncServiceSoap12" binding="tns:SyncServiceSoap12">
      <soap12:address location="http://localhost:16213/SyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncServiceHttpGet" binding="tns:SyncServiceHttpGet">
      <http:address location="http://localhost:16213/SyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncServiceHttpPost" binding="tns:SyncServiceHttpPost">
      <http:address location="http://localhost:16213/SyncService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>