SJ/Keytone Source/KTSDCPrintNew/KTSDCPrintNew/RFIDGlobal/EPCTagEncoding/XmlTranslationTableSpec.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="EntryType">
		<xs:sequence></xs:sequence>
		<xs:attribute name="index" type="xs:unsignedInt" />
		<xs:attribute name="companyPrefix" type="xs:string" />
		<xs:attribute name="custom" type="xs:boolean" use="optional" />
	</xs:complexType>
	<xs:element name="GEPC64Table">
		<xs:complexType>
			<xs:choice minOccurs ="0" maxOccurs="unbounded">
				<xs:element name="entry" type="EntryType" />
			</xs:choice>
			<xs:attribute name="date" type="xs:dateTime" />
		</xs:complexType>
	</xs:element>
</xs:schema>